@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 93,80,68;
  --accentcolor2: 182,147,60;
  --linkcolor: 172,143,108;
  --mentioncolor: 206,159,81;
  --textbrightest: 50,50,50;
  --textbrighter: 237,230,204;
  --textbright: 179,169,144;
  --textdark: 40,40,40;
  --textdarker: 180,180,170;
  --textdarkest: 120,120,110;
  /*--font: whitney;*/
  --backgroundaccent: 20,20,18;
  --backgroundprimary: 10,10,8;
  --backgroundsecondary: 237,230,204;
  --backgroundsecondaryalt: 237,230,204;
  --backgroundtertiary: 10,10,8;
  --backgroundfloating: 10,10,8;
  --settingsicons: 0;
}

/* Any custom CSS below here */

