@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 93,80,68;
  --accentcolor2: 182,147,60;
  --linkcolor: 172,143,108;
  --mentioncolor: 206,159,81;
  --textbrightest: 255,243,226;
  --textbrighter: 223,211,189;
  --textbright: 179,169,144;
  --textdark: 151,135,108;
  --textdarker: 99,91,69;
  --textdarkest: 79,69,50;
  /*--font: whitney;*/
  --backgroundaccent: 53,47,38;
  --backgroundprimary: 18,16,12;
  --backgroundsecondary: 14,13,10;
  --backgroundsecondaryalt: 20,18,13;
  --backgroundtertiary: 8,6,5;
  --backgroundfloating: 12,11,11;
  --settingsicons: 0;
}

/* Any custom CSS below here */

